# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/

# Testing / Coverage
.coverage
htmlcov/
.pytest_cache/

# IDE
.vscode/
.idea/

# Environment
.env

# Results (generated)
results/*.html
